h2 {
font-family: 'Josefin Sans', sans-serif;
font-weight: lighter;
  font-size: 70px;
  margin: 0 auto;
  text-align: center;
  color: #D8A08E;
  margin-top: 10px;
}

html {
font-family: 'Josefin Sans', sans-serif;
font-weight: lighter;
}

.maincontainer {
  width: 50%;
  margin-left: 320px;
  border: solid #D8A08E;
  background-color: #EAEAEA;
}

.input-field {
  width: 522px;
  margin-left: 50px;
  text-align: center;
  font-size: 25px;
}
a {
  text-decoration: none;
  color: #D8A08E;
}

a:hover {
  color: #4668CE;
}

li {
  font-size: 20px;
}
