h2 {
font-family: 'Josefin Sans', sans-serif;
font-weight: lighter;
  font-size: 70px;
  margin: 0 auto;
  text-align: center;
  color: #D8A08E;
  margin-top: 10px;
}

html {
font-family: 'Josefin Sans', sans-serif;
font-weight: lighter;
}

.maincontainer {
  width: 50%;
  margin-left: 320px;
  border: solid #D8A08E;
  background-color: #EAEAEA;
}

.input-field {
  width: 522px;
  margin-left: 50px;
  text-align: center;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #D8A08E;
}

a:hover {
  color: #4668CE;
}

button:hover {
  background-color: #4668CE;
  /*font-weight: bold;*/
  opacity: .9;
  border: solid 1px #D0D0D0;
}

.clearbutton {
  float: right;
position: relative;
top: -25px;
}

li {
  font-size: 20px;
  border-bottom: solid 1px #D0D0D0;
  padding-bottm: 10px;
  margin-left: -41px;
}

ul {
  text-align: center;
  list-style-type: none;
  border: solid 1px #D0D0D0;
  margin-right: 58px;
  margin-left: 52px;
  background-color: #fff;
  }

footer {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15px;
}

button{
  border-radius: 15px;
  background-color: white;
  border: none;
}
